// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#main {
    margin-left: 17em;
    padding: 0em 10em 2em 10em;
    float: left;
    background: white;
    border-right-color: green;
    border-right-style: solid;
    border-left-color: green;
    border-left-style: solid;
    text-align: left;
    position: relative;
   }
